In [1]:
import pandas

In [2]:
zamestnanci_praha = pandas.read_csv('zam_praha.csv')
zamestnanci_praha

          jmeno  prijimeni   telefonni_cislo  cislo_zamestnance
0         Brian       Hall  +421 949 656 098                 30
1         Marta   Kolářová       730 456 163                 32
2          John    Moravec       725 092 179                 33
3      Dominika    Kopecká       722 747 626                 34
4        Marcel      Hájek  +421 902 928 669                 35
5        Milada  Hernandez       773 373 704                 38
6     Catherine     Bender       604 068 460                 40
7          Olga    Němcová  +421 914 172 243                 41
8       Jeffrey    Šťastný       607 628 821                 44
9        Kamila     Říhová  +421 948 396 069                 47
10      Jaromír     Miller  +421 912 615 902                 49
11  Christopher      Zeman  +421 948 150 084                 51
12     Karolína      Short       721 589 083                 53
13     Michelle    Vlčková  +421 41 720 7806                 54
14      Jeffrey   Pospíšil  +421 55 491 6940                 56
15     Ladislav     Blažek  +421 910 274 975                 57
16         John     Bailey       775 021 116                 58
17      William    Shelton  +421 47 745 8219                 60
18    Miroslava     Veselá       774 029 254                 62
19      William  Alexander  +421 949 106 724                 63
20     Kimberly       Bass  +421 912 169 840                 64
21       Nathan    Svoboda       728 710 923                 66
22        Luděk     Bartoš  +421 940 700 326                 69
23       Dillon      Black       734 300 978                 70
24       Robert       Říha       727 351 984                 72
25        Steve      Šimek       604 966 101                 74
26      Theresa   Kučerová  +421 48 528 0081                 76
27        Marta     Butler  +421 944 196 827                 78
28     Samantha  Kadlecová  +421 904 841 543                 80

In [3]:
zamestnanci_liberec = pandas.read_csv('zam_liberec.csv')
zamestnanci_liberec

        jmeno    prijimeni   telefonni_cislo  cislo_zamestnance
0        Nela      Šťastná       728 454 176                 83
1     Heather      Marková       604 404 522                 84
2      Krista  Procházková  +421 50 444 5544                 85
3    Jennifer        Brown       775 545 190                 86
4   Ladislava    Blackwell  +421 913 487 200                 87
5      Robert       Macias  +421 49 929 6856                 88
6        Dana        Reyes  +421 904 153 942                 90
7       Vasyl       Veselý       603 759 413                 92
8       Randy       Veselý       777 149 125                 95
9      Audrey        Allen  +421 908 839 506                 96
10       Ivan       Bartoš       603 226 051                 99

In [4]:
zamestnanci_plzen = pandas.read_csv('zam_plzeň.csv')
zamestnanci_plzen

        jmeno    prijimeni   telefonni_cislo  cislo_zamestnance
0       Stacy  Pospíšilová       727 293 880                  3
1       Matěj         Král       770 787 377                  6
2      Amanda       Wilson  +421 52 656 7231                  7
3       Angel       Wilson  +421 52 135 2491                  8
4    Jindřich       Howell  +421 39 043 0948                 10
5   Alexander     Martinez       721 195 689                 13
6       Radim      Kopecký  +421 917 371 226                 16
7    Miroslav         Reed       774 829 074                 18
8      Emilie       Powell       731 380 539                 21
9      Nikola         Wade       726 763 154                 22
10  Katherine         Reed       726 214 968                 23
11      Kayla     Urbanová       737 772 985                 24
12      Roman       Moreno       722 284 985                 26
13   Bohumila        Smith       608 121 912                 27
14    Blažena        Smith  +421 51 828 2591                 28
15    Phillip         Malý       731 594 560                 29

In [6]:
zamestnanci_praha['výkon_prace'] = 'zam_praha'
zamestnanci_liberec['výkon_prace'] = 'zam_liberec'
zamestnanci_plzen['výkon_prace'] = 'zam_plzeň'
zamestnanci = pandas.concat([zamestnanci_praha,zamestnanci_liberec,zamestnanci_plzen], ignore_index=True)
zamestnanci

          jmeno    prijimeni   telefonni_cislo  cislo_zamestnance  výkon_prace
0         Brian         Hall  +421 949 656 098                 30    zam_praha
1         Marta     Kolářová       730 456 163                 32    zam_praha
2          John      Moravec       725 092 179                 33    zam_praha
3      Dominika      Kopecká       722 747 626                 34    zam_praha
4        Marcel        Hájek  +421 902 928 669                 35    zam_praha
5        Milada    Hernandez       773 373 704                 38    zam_praha
6     Catherine       Bender       604 068 460                 40    zam_praha
7          Olga      Němcová  +421 914 172 243                 41    zam_praha
8       Jeffrey      Šťastný       607 628 821                 44    zam_praha
9        Kamila       Říhová  +421 948 396 069                 47    zam_praha
10      Jaromír       Miller  +421 912 615 902                 49    zam_praha
11  Christopher        Zeman  +421 948 150 084                 51    zam_praha
12     Karolína        Short       721 589 083                 53    zam_praha
13     Michelle      Vlčková  +421 41 720 7806                 54    zam_praha
14      Jeffrey     Pospíšil  +421 55 491 6940                 56    zam_praha
15     Ladislav       Blažek  +421 910 274 975                 57    zam_praha
16         John       Bailey       775 021 116                 58    zam_praha
17      William      Shelton  +421 47 745 8219                 60    zam_praha
18    Miroslava       Veselá       774 029 254                 62    zam_praha
19      William    Alexander  +421 949 106 724                 63    zam_praha
20     Kimberly         Bass  +421 912 169 840                 64    zam_praha
21       Nathan      Svoboda       728 710 923                 66    zam_praha
22        Luděk       Bartoš  +421 940 700 326                 69    zam_praha
23       Dillon        Black       734 300 978                 70    zam_praha
24       Robert         Říha       727 351 984                 72    zam_praha
25        Steve        Šimek       604 966 101                 74    zam_praha
26      Theresa     Kučerová  +421 48 528 0081                 76    zam_praha
27        Marta       Butler  +421 944 196 827                 78    zam_praha
28     Samantha    Kadlecová  +421 904 841 543                 80    zam_praha
29         Nela      Šťastná       728 454 176                 83  zam_liberec
30      Heather      Marková       604 404 522                 84  zam_liberec
31       Krista  Procházková  +421 50 444 5544                 85  zam_liberec
32     Jennifer        Brown       775 545 190                 86  zam_liberec
33    Ladislava    Blackwell  +421 913 487 200                 87  zam_liberec
34       Robert       Macias  +421 49 929 6856                 88  zam_liberec
35         Dana        Reyes  +421 904 153 942                 90  zam_liberec
36        Vasyl       Veselý       603 759 413                 92  zam_liberec
37        Randy       Veselý       777 149 125                 95  zam_liberec
38       Audrey        Allen  +421 908 839 506                 96  zam_liberec
39         Ivan       Bartoš       603 226 051                 99  zam_liberec
40        Stacy  Pospíšilová       727 293 880                  3    zam_plzeň
41        Matěj         Král       770 787 377                  6    zam_plzeň
42       Amanda       Wilson  +421 52 656 7231                  7    zam_plzeň
43        Angel       Wilson  +421 52 135 2491                  8    zam_plzeň
44     Jindřich       Howell  +421 39 043 0948                 10    zam_plzeň
45    Alexander     Martinez       721 195 689                 13    zam_plzeň
46        Radim      Kopecký  +421 917 371 226                 16    zam_plzeň
47     Miroslav         Reed       774 829 074                 18    zam_plzeň
48       Emilie       Powell       731 380 539                 21    zam_plzeň
49       Nikola         Wade       726 763 154                 22    zam_plzeň
50    Katherine         Reed       726 214 968                 23    zam_plzeň
51        Kayla     Urbanová       737 772 985                 24    zam_plzeň
52        Roman       Moreno       722 284 985                 26    zam_plzeň
53     Bohumila        Smith       608 121 912                 27    zam_plzeň
54      Blažena        Smith  +421 51 828 2591                 28    zam_plzeň
55      Phillip         Malý       731 594 560                 29    zam_plzeň

In [7]:
platy = pandas.read_csv('platy_2021_02.csv')
platy

    cislo_zamestnance     plat
0                   3  54900.0
1                   6  54800.0
2                   7  36400.0
3                   8  47900.0
4                  16  34200.0
5                  18  35400.0
6                  21  54200.0
7                  22  34400.0
8                  23  39000.0
9                  24  44200.0
10                 26  59600.0
11                 27  45100.0
12                 28  38100.0
13                 29  48900.0
14                 30  33500.0
15                 32  53000.0
16                 33  38400.0
17                 34  36800.0
18                 38  32600.0
19                 40  32800.0
20                 41  49300.0
21                 44  52000.0
22                 47  40700.0
23                 49  58400.0
24                 51  37100.0
25                 56  39300.0
26                 57  36800.0
27                 63  31400.0
28                 64  36900.0
29                 69  32600.0
30                 70  52600.0
31                 74  49300.0
32                 76  55400.0
33                 78  52600.0
34                 80  57700.0
35                 83  46500.0
36                 84  38600.0
37                 85  44200.0
38                 87  49900.0
39                 90  41100.0
40                 92  48100.0
41                 95  31600.0
42                 96  50200.0

In [10]:
novy_propojeny_df = pandas.merge(platy, zamestnanci, on=['cislo_zamestnance'], how="outer")
novy_propojeny_df

,cislo_zamestnance,plat,jmeno,prijimeni,telefonni_cislo,výkon_prace
0,3,54900.0,Stacy,Pospíšilová,727 293 880,zam_plzeň
1,6,54800.0,Matěj,Král,770 787 377,zam_plzeň
2,7,36400.0,Amanda,Wilson,+421 52 656 7231,zam_plzeň
3,8,47900.0,Angel,Wilson,+421 52 135 2491,zam_plzeň
4,16,34200.0,Radim,Kopecký,+421 917 371 226,zam_plzeň
5,18,35400.0,Miroslav,Reed,774 829 074,zam_plzeň
6,21,54200.0,Emilie,Powell,731 380 539,zam_plzeň
7,22,34400.0,Nikola,Wade,726 763 154,zam_plzeň
8,23,39000.0,Katherine,Reed,726 214 968,zam_plzeň
9,24,44200.0,Kayla,Urbanová,737 772 985,zam_plzeň
10,26,59600.0,Roman,Moreno,722 284 985,zam_plzeň
11,27,45100.0,Bohumila,Smith,608 121 912,zam_plzeň
12,28,38100.0,Blažena,Smith,+421 51 828 2591,zam_plzeň
13,29,48900.0,Phillip,Malý,731 594 560,zam_plzeň
14,30,33500.0,Brian,Hall,+421 949 656 098,zam_praha
15,32,53000.0,Marta,Kolářová,730 456 163,zam_praha
16,33,38400.0,John,Moravec,725 092 179,zam_praha
17,34,36800.0,Dominika,Kopecká,722 747 626,zam_praha
18,38,32600.0,Milada,Hernandez,773 373 704,zam_praha
19,40,32800.0,Catherine,Bender,604 068 460,zam_praha
20,41,49300.0,Olga,Němcová,+421 914 172 243,zam_praha
21,44,52000.0,Jeffrey,Šťastný,607 628 821,zam_praha
22,47,40700.0,Kamila,Říhová,+421 948 396 069,zam_praha
23,49,58400.0,Jaromír,Miller,+421 912 615 902,zam_praha
24,51,37100.0,Christopher,Zeman,+421 948 150 084,zam_praha
25,56,39300.0,Jeffrey,Pospíšil,+421 55 491 6940,zam_praha
26,57,36800.0,Ladislav,Blažek,+421 910 274 975,zam_praha
27,63,31400.0,William,Alexander,+421 949 106 724,zam_praha
28,64,36900.0,Kimberly,Bass,+421 912 169 840,zam_praha
29,69,32600.0,Luděk,Bartoš,+421 940 700 326,zam_praha
30,70,52600.0,Dillon,Black,734 300 978,zam_praha
31,74,49300.0,Steve,Šimek,604 966 101,zam_praha
32,76,55400.0,Theresa,Kučerová,+421 48 528 0081,zam_praha
33,78,52600.0,Marta,Butler,+421 944 196 827,zam_praha
34,80,57700.0,Samantha,Kadlecová,+421 904 841 543,zam_praha
35,83,46500.0,Nela,Šťastná,728 454 176,zam_liberec
36,84,38600.0,Heather,Marková,604 404 522,zam_liberec
37,85,44200.0,Krista,Procházková,+421 50 444 5544,zam_liberec
38,87,49900.0,Ladislava,Blackwell,+421 913 487 200,zam_liberec
39,90,41100.0,Dana,Reyes,+421 904 153 942,zam_liberec
40,92,48100.0,Vasyl,Veselý,603 759 413,zam_liberec
41,95,31600.0,Randy,Veselý,777 149 125,zam_liberec
42,96,50200.0,Audrey,Allen,+421 908 839 506,zam_liberec
43,35,NaN,Marcel,Hájek,+421 902 928 669,zam_praha
44,53,NaN,Karolína,Short,721 589 083,zam_praha
45,54,NaN,Michelle,Vlčková,+421 41 720 7806,zam_praha
46,58,NaN,John,Bailey,775 021 116,zam_praha
47,60,NaN,William,Shelton,+421 47 745 8219,zam_praha
48,62,NaN,Miroslava,Veselá,774 029 254,zam_praha
49,66,NaN,Nathan,Svoboda,728 710 923,zam_praha
50,72,NaN,Robert,Říha,727 351 984,zam_praha
51,86,NaN,Jennifer,Brown,775 545 190,zam_liberec
52,88,NaN,Robert,Macias,+421 49 929 6856,zam_liberec
53,99,NaN,Ivan,Bartoš,603 226 051,zam_liberec
54,10,NaN,Jindřich,Howell,+421 39 043 0948,zam_plzeň
55,13,NaN,Alexander,Martinez,721 195 689,zam_plzeň

In [11]:
print(novy_propojeny_df.shape)

(56, 6)

In [12]:
novy_propojeny_df.groupby("výkon_prace")["plat"].mean()

výkon_prace
zam_liberec    43775.000000
zam_plzeň      44792.857143
zam_praha      43295.238095
Name: plat, dtype: float64

In [13]:
vykazy = pandas.read_csv('vykazy.csv')
vykazy

          date  hours project  emloyee_id
0   2021-02-01    2.5     F30          13
1   2021-02-01    3.4     W05          70
2   2021-02-01    2.1     JL9          72
3   2021-02-01    5.2     F30           3
4   2021-02-01    2.4     TE1          54
5   2021-02-01    4.1     TE1          83
6   2021-02-01    5.4     W05          92
7   2021-02-01    2.2     YLI          34
8   2021-02-01    2.7     YLI          84
9   2021-02-01    4.4     W05          30
10  2021-02-02    5.6     F30          53
11  2021-02-02    2.6     W05          47
12  2021-02-02    2.4     YLI          44
13  2021-02-02    3.1     YLI          40
14  2021-02-02    5.3     YLI          10
15  2021-02-02    3.6     YLI          53
16  2021-02-02    5.6     F30          56
17  2021-02-03    4.0     W05          53
18  2021-02-03    4.6     TE1          86
19  2021-02-03    2.6     F30          18
20  2021-02-03    2.8     TE1          47
21  2021-02-03    2.6     YLI          34
22  2021-02-03    3.7     YLI          96
23  2021-02-03    5.2     W05          57
24  2021-02-03    5.5     W05          40
25  2021-02-03    5.4     YLI          86
26  2021-02-03    2.1     TE1          87

In [19]:
vykazy.rename(columns={'emloyee_id':'cislo_zamestnance'})
vykazy

          date  hours project  cislo_zamestnance
0   2021-02-01    2.5     F30                 13
1   2021-02-01    3.4     W05                 70
2   2021-02-01    2.1     JL9                 72
3   2021-02-01    5.2     F30                  3
4   2021-02-01    2.4     TE1                 54
5   2021-02-01    4.1     TE1                 83
6   2021-02-01    5.4     W05                 92
7   2021-02-01    2.2     YLI                 34
8   2021-02-01    2.7     YLI                 84
9   2021-02-01    4.4     W05                 30
10  2021-02-02    5.6     F30                 53
11  2021-02-02    2.6     W05                 47
12  2021-02-02    2.4     YLI                 44
13  2021-02-02    3.1     YLI                 40
14  2021-02-02    5.3     YLI                 10
15  2021-02-02    3.6     YLI                 53
16  2021-02-02    5.6     F30                 56
17  2021-02-03    4.0     W05                 53
18  2021-02-03    4.6     TE1                 86
19  2021-02-03    2.6     F30                 18
20  2021-02-03    2.8     TE1                 47
21  2021-02-03    2.6     YLI                 34
22  2021-02-03    3.7     YLI                 96
23  2021-02-03    5.2     W05                 57
24  2021-02-03    5.5     W05                 40
25  2021-02-03    5.4     YLI                 86
26  2021-02-03    2.1     TE1                 87

In [21]:
novy_propojeny_df_a_vykazy = pandas.merge(novy_propojeny_df,vykazy, on=['cislo_zamestnance'], how="outer")
novy_propojeny_df_a_vykazy

,cislo_zamestnance,plat,jmeno,prijimeni,telefonni_cislo,výkon_prace,date,hours,project
0,3,54900.0,Stacy,Pospíšilová,727 293 880,zam_plzeň,2021-02-01,5.2,F30
1,6,54800.0,Matěj,Král,770 787 377,zam_plzeň,NaN,NaN,NaN
2,7,36400.0,Amanda,Wilson,+421 52 656 7231,zam_plzeň,NaN,NaN,NaN
3,8,47900.0,Angel,Wilson,+421 52 135 2491,zam_plzeň,NaN,NaN,NaN
4,16,34200.0,Radim,Kopecký,+421 917 371 226,zam_plzeň,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
57,86,NaN,Jennifer,Brown,775 545 190,zam_liberec,2021-02-03,5.4,YLI
58,88,NaN,Robert,Macias,+421 49 929 6856,zam_liberec,NaN,NaN,NaN
59,99,NaN,Ivan,Bartoš,603 226 051,zam_liberec,NaN,NaN,NaN
60,10,NaN,Jindřich,Howell,+421 39 043 0948,zam_plzeň,2021-02-02,5.3,YLI
61,13,NaN,Alexander,Martinez,721 195 689,zam_plzeň,2021-02-01,2.5,F30

In [23]:
print(vykazy.groupby('project')['hours'].sum())

project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64